body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 200%;
    font-family: Jost;
    background-color: rgba(219, 190, 161, 1);
}

#bookType {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 10;
}

#dislike-button {
    margin-right: 50px;
}

#like-button {
    margin-left: 50px;
}

.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    z-index: 101;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    font-size: 24px;
}

#match-book {
    border-radius: 10px;
}


h1 {
    font-weight: bolder;
    font-size: 100px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 100;
}

.hidden {
    display: none;
}

#book-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 442px;
    z-index: 10;
}

#book-card h3 {
    width: 200px;
    text-align: center;
    font-size: 25px;
    color: white;
    font-weight: bolder;
    overflow: scroll;
}

#img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 200px;
    width: 50%;
}

#book-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2160px;
    flex-direction: column;
}

#info {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 55%;
    top: 78%;
}

#description {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 400px;
    /* margin-left: 50px; */
}

#preferences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    background-color: rgba(219, 190, 161, 1);
}

#matching {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(219, 190, 161, 1);
}

#book-img {
    border-radius: 10px;
}

#spacer {
    display: flex;
    flex-direction: row;
    height: 5%;
    width: 100%;
    background-color: rgba(43, 58, 103, 1);
}

#header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 100px;
    height: 100px;
    padding-right: 30px;
}

input[type=text] {
    width: 100%;
    padding: 15px 45px;
    margin: 10px 0;
    font-size: 20px;
    font-family: Jost;
    text-align: center;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.0);
}

input[type=button] {
    background-color: rgba(220, 128, 104, 1);
    font-size: 20px;
    font-family: Jost;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    margin: 20px 2px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: rgba(189, 110, 90, 1);
    font-size: 20px;
    font-family: Jost;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    margin: 20px 2px;
    cursor: pointer;
}

#closed-book {
    position: absolute;
    /* top: 60%; */
    /* left: 40%; */
    width: 320px;
    height: 442px;
    z-index: -1;
}

.choice-button {
    width: 70px;
    height: 70px;
}

#button-space {
    width: 10%;
    height: 5%;
}

input[type=image]:hover {
    filter: brightness(85%);
}

#open-book {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#horiz-space {
    width: 50px;
}

#img-open-book {
    position: absolute;
    /* top: 60%; */
    /* left: 31%; */
    z-index: 0;
    display: none;
    height: 440px;
    width: auto;
}

#book-card-open {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 500px;
}

#book-description {
    z-index: 100;
    column-count: 2;
    column-width: 30%;
    column-gap: 20%;
    height: 400px;
    width: 550px;
    overflow: scroll;
}

#open-book h3 {
    display: flex;
    z-index: 101;
    flex-direction: row;
}

#close-button {
    z-index: 102;
    padding-top: 5%;
    height: 30px;
    width: 30px;
    filter: brightness(50%);
}

h4 {
    color: red;
}

#match-desc {
    width: 70%;
}

#close-modal {
    background-color: rgba(220, 128, 104, 1);
    font-size: 20px;
    font-family: Jost;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    margin: 20px 2px;
    cursor: pointer;
}

#close-modal:hover {
    filter: brightness(50%);
}

#about {
    color: rgba(189, 110, 90, 1);
    font-size: 20px;
}

#about:visited {
    color: rgba(189, 110, 90, 1);
    font-size: 20px;
}

#about:hover {
    color: rgba(189, 110, 90, 1);
    font-size: 20px;
    filter: brightness(150%);
}



#page2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    height: 100%;
}

#back-button {
    font-size: 32px;
}

#page2 li {
    font-size: 24px;
}

#loading {
    height: 100px;
    width: 100px;
    display: none;
}

#reset-button {
    background-color: rgb(204, 53, 53);
    font-size: 16px;
    font-family: Jost;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
    margin: 20px 2px;
    cursor: pointer;
}

#reset-button:hover {
    background-color: rgb(123, 17, 17);
    font-size: 16px;
    font-family: Jost;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
    margin: 20px 2px;
    cursor: pointer;
}