body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 200%;
    font-family: Jost;
    background-color: rgba(219, 190, 161, 1);
}

#bookType {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-top: 40px; */
    z-index: 10;
}

#dislike-button {
    margin-right: 50px;
}

#like-button {
    margin-left: 50px;
}

.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 10px solid black;
    top: 50%;
    z-index: 101;
}

h1 {
    font-weight: bolder;
    font-size: 100px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 100;
}

.hidden {
    display: none;
}

#book-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 442px;
    z-index: 10;
}

#book-card h3 {
    width: 200px;
    text-align: center;
    font-size: 25px;
    color: white;
    font-weight: bolder;
}

#img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 200px;
}

#book-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2160px;
    flex-direction: column;
}

#info {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 55%;
    top: 78%;
}

#description {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 400px;
    /* margin-left: 50px; */
}

#preferences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    background-color: rgba(219, 190, 161, 1);
}

#matching {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(219, 190, 161, 1);
}

#book-img {
    border-radius: 10px;
}

#spacer {
    display: flex;
    flex-direction: row;
    height: 5%;
    width: 100%;
    background-color: rgba(43, 58, 103, 1);
}

#header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 100px;
    height: 100px;
    padding-right: 30px;
}

input[type=text] {
    width: 100%;
    padding: 15px 45px;
    margin: 10px 0;
    font-size: 20px;
    font-family: Jost;
    text-align: center;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.0);
}

input[type=button] {
    background-color: rgba(220, 128, 104, 1);
    font-size: 20px;
    font-family: Jost;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    margin: 20px 2px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: rgba(189, 110, 90, 1);
    font-size: 20px;
    font-family: Jost;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    margin: 20px 2px;
    cursor: pointer;
}

#closed-book {
    position: absolute;
    /* top: 60%; */
    /* left: 40%; */
    width: 320px;
    height: 442px;
    z-index: -1;
}

.choice-button {
    width: 70px;
    height: 70px;
}

#button-space {
    width: 10%;
    height: 5%;
}

input[type=image]:hover {
    filter: brightness(85%);
}

#open-book {
    position: absolute;
    z-index: -1;
}

#horiz-space {
    width: 50px;
}